<% const isSoldOut = locals.isPortfolioSoldOut(portfolio) %>

<!DOCTYPE html>
<html>
  <%- include('../partials/head') %>
  <body>
    <div class="max-w-2xl mx-auto">
      <%- include('../partials/menu') %>
      <section>
        <div
          class="px-6 pb-6 border-solid border border-gray-200 border-t-0 rounded-b"
        >
          <%- include('../partials/back-button') %>
          <div class="flex flex-row">
            <div class="flex-grow">
              <h1 class="font-medium text-2xl leading-tight mt-0 mb-2">
                <%= portfolio.name %>
              </h1>
              <div class="text-gray-600 relative">
                <%= portfolio.currency %> 
                <%= portfolio.price_per_kg %> per kg
                <% if(isSoldOut) { %>
                  <div class="inline-block ml-2"> 
                    <%- include('../partials/sold-out-tag') %>
                  </div>
                <% } %>  
                </div>
              
            </div>
            <div>
              <a
                href="/orders/checkout/<%= portfolio.id %>"
                class="mt-4 mb-4 flex items-center justify-center rounded bg-blue px-6 py-4 no-underline <%= isSoldOut ? 'pointer-events-none opacity-30' : '' %>"
              >
                <span class="text-base text-white font-medium">Buy Offsets</span>
              </a>
            </div>
          </div>
          <div class="flex flex-col mt-6">
            <h2 class="font-semibold leading-tight text-lg mt-0 mb-6">
              Projects included
            </h2>
            <% for (let allocation of allocations) { %> <%-
            include('../partials/portfolio-allocation-card', { allocation }) %> <% } %>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
