<!DOCTYPE html>
<html>
  <%- include('../partials/head') %>
  <body>
    <div class="max-w-2xl mx-auto">
      <%- include('../partials/menu') %>
      <section>
        <div
          class="px-6 pb-6 border-solid border border-gray-200 border-t-0 rounded-b"
        >
          <%- include('../partials/back-button') %>
          <div class="flex flex-col">
            <div class="grid grid-cols-2 gap-4 md:grid-cols-1">
              <img
                alt="Les Paul"
                src="<%= _.get(project, 'media.0') %>"
                class="aspect-video w-full rounded object-cover"
              />
            </div>
            <div class="my-8">
              <div
                class="inline-block whitespace-nowrap rounded-full px-3 text-sm leading-6 bg-cornflower mr-1.5"
              >
                <%= project.project_type.category %>
            </div>
              <div
                class="inline-block whitespace-nowrap rounded-full px-3 text-sm leading-6 bg-cornflower mr-1.5"
              >
                <%= project.project_type.name %>
          </div>
            </div>

            <div class="sticky top-0">
              <div class="flex justify-between">
                <div class="max-w-[35ch]">
                  <h1 class="text-2xl font-medium">
                    Fun Product That Does Something Cool
                  </h1>
                  <p><%= project.country.name %></p>
                </div>
              </div>

              <details class="group relative mt-4">
                <summary class="block">
                  <div>
                    <div class="prose max-w-none group-open:hidden pb-2">
                      <p class="line-clamp-3">
                        <%= project.description %>
                      </p>
                    </div>

                    <span
                      class="mt-2 cursor-pointer font-medium underline group-open:absolute group-open:bottom-0 group-open:left-0 group-open:mt-2 group-open:hidden"
                    >
                      Read more
                    </span>
                    <span
                      class="mt-2 cursor-pointer font-medium underline group-open:absolute group-open:bottom-0 group-open:left-0 group-open:mt-2 invisible group-open:visible"
                    >
                      Read less
                    </span>
                  </div>
                </summary>

                <div class="prose max-w-none pb-8">
                  <p>
                    <%= project.description %>
                  </p>
                </div>
              </details>
              <div
                class="overflow-hidden overflow-x-auto rounded-lg border border-gray-200 mt-8"
              >
                <table class="min-w-full divide-y divide-gray-200">
                  <tbody class="divide-y divide-gray-200">
                    <tr class="bg-gray-100">
                      <td class="px-4 py-5 text-gray-700">
                        Mechanism
                      </td>
                      <td class="px-4 py-5 text-gray-700">
                        <% if (project.removal && !project.avoidance) { %>
                        <span>CO₂e Removal</span>
                        <% } %> <% if (project.avoidance && !project.removal) {
                        %>
                        <span>CO₂e Avoidance</span>
                        <% } %> <% if (project.removal && project.avoidance) {
                        %>
                        <span>CO₂e Removal, CO₂e Avoidance </span>
                        <% } %>
                      </td>
                    </tr>
                    <tr>
                      <td class="px-4 py-5 text-gray-700 py-5">
                        Developer
                      </td>
                      <td class="px-4 py-5 text-gray-700">
                        <p><%= project.developer.name %></p>
                      </td>
                    </tr>
                    <tr class="bg-gray-100">
                      <td class="px-4 py-5 text-gray-700 py-5">
                        Website
                      </td>
                      <td class="px-4 py-5 text-gray-700">
                        <p>
                          <%=
                          project.website.substr(project.website.indexOf('://')+3)
                          %>
                        </p>
                      </td>
                    </tr>
                    <tr>
                      <td
                        class="whitespace-nowrap px-4 py-5 text-gray-700 py-5"
                      >
                        Registry
                      </td>
                      <td class="whitespace-nowrap px-4 py-5 text-gray-700">
                        <p><%= project.registry.name %></p>
                      </td>
                    </tr>
                    <tr class="bg-gray-100">
                      <td
                        class="whitespace-nowrap px-4 py-5 text-gray-700 py-5 align-top"
                      >
                        Sustainable Development Goals
                      </td>
                      <td class="px-4 py-5 text-gray-700">
                        <p>
                          <%= project.sdgs.map((sdg) => locals.SDGS_MAP[sdg]).
                          join(', ') %>
                        </p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
