<article class="rounded border border-gray-200 bg-white mb-4">
  <div class="flex items-start p-6">
    <a href="#" class="block shrink-0">
      <img
        alt="Image project <%= order.portfolio.name %>"
        class="h-14 w-14 rounded object-cover"
        src="<%= _.get(order, 'portfolio.media.0') %>"
      />
    </a>

    <div class="ml-6">
      <h3 class="text-lg font-semibold truncate"><%= order.portfolio.name %></h3>
      <p class="text-gray-600 my-1"><%= order.id %></p>
      <% if (order.issued_on_behalf_of) { %>
        <p class="text-gray-600 my-1">Issued on behalf of: <%= order.issued_on_behalf_of %></p>
      <% } %>
      <p class="mt-3">
        <%- include('../partials/order-status-tag', { status: order.status }) %>
      </p>
      <% if (order.status === 'PAID' || order.status === 'COMPLETED') { %>
      <p class="mt-3">
        <a
          class="underline"
          target="_blank"
          href="<%= order.links.certificate.href %>"
          >View proof of offset</a
        >
      </p>
      <% } %>
    </div>
  </div>
</article>
