<div class="relative block border border-gray-200 rounded overflow-hidden">
  <img
    alt="Toy"
    src="<%= _.get(portfolio, 'media.0') %>"
    class="h-56 w-full object-cover"
  />
  <div class="p-6">
    <h3 class="mt-1 text-lg font-semibold truncate"><%= portfolio.name %></h3>
    <p class="text-gray-600 my-1">
      <%= portfolio.currency %> <%= portfolio.price_per_kg %> per kg
    </p>
    <a
      href="/orders/checkout/<%= portfolio.id %>"
      class="mt-4 flex w-full items-center justify-center rounded bg-blue px-6 py-4 no-underline"
    >
      <span class="text-base text-white font-medium">Buy Offsets</span>
    </a>
    <div class="w-full text-center mt-3">
      <a class="text-base font-medium" href="/portfolios/<%= portfolio.id %>">View details</a>
    </div>
  </div>
</div>
